{% extends 'festival/layout.html' %}

{% block content %}
    
    <article class="card">
        <h2>{{ concerto.banda.nome }}</h2>
        <p><strong>Dia:</strong> {{ concerto.dia }}</p>
        <p><strong>Hora:</strong> {{ concerto.hora }}</p>
        <p><strong>Palco:</strong> {{ concerto.palco }}</p>
        <p><a href="{% url 'editar_concerto' concerto.id %}" class="btn">Editar este concerto</a></p>
        <p>
            <a href="{% url 'editar_concerto' concerto.id %}" class="btn">Editar este concerto</a>
            
            <form action="{% url 'apagar_concerto' concerto.id %}" method="POST" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Apagar concerto</button>
            </form>
        </p>
    </article>

    
{% endblock %}
    